* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#formatter {
    margin: 10px;

}

#riquadrofirma {
    display: flex;
    justify-content: space-between;
}

#riquadrofirma div input {
    background-color: red;
    padding: 2px 7px;
    color: #fff;
    border-radius: 30px;
}

#firma-q {
    border-radius: 10px;
    border: 2px solid rgb(33, 172, 197);
}

#constainerfilename {
    height: calc(100vh - 80px);
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid rgb(33, 172, 197);
    position: relative;
    padding: 20px;
    width: calc(100% - 400px);
}

#canvasimg {
    height: 100px;
    width: 200px;
    border: none;
}

.idbtn {
    background-color: #ffffffeb;
    padding: 3px 6px;
    border-radius: 20px;
    border: 2px solid rgb(33, 172, 197);
    margin-top: 10px;
    color: #fff;
    background-color: red;

}

#data-poke {

    width: 100%;
    height: 75%;
    overflow: scroll;

    display: flex;
    flex-wrap: wrap;
    padding: 40px 30px;
}

#canvasimg1 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 130px;
    width: 240px;
}



.titlefiledowload {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3000000;
}

body {
    padding: 0px 30px;
}

.fle1x {
    display: flex;
    margin: 10px 0;
}