.grass {
  background-color: #85ca1d;
}

.water {
  background-color: #4592c4;
}

.fire {
  background-color: #fd7d24;
}

.normal {
  background-color: #a4acaf;
}

.bug {
  background-color: #668d3a;
}

.remove-submit-event {
  pointer-events: none;
}

.block {
  display: block;
}

#btn-search {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 18%;
  padding: 8px;
  outline-color: #bfdbfe;
  transition: 0.4s;
  border: 2px solid #bfdbfe;
  background-color: #ffffff;
  height: 43px;
}

#btn-search:hover {
  background-color: #bfdbfe;
}

.userInput {
  width: 80%;
  height: 43px;
  padding: 5px 13px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: none;
  border: 2px solid #bfdbfe;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  border-radius: 10px;
}

#img {
  height: 350px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.cardImage {
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 10px;
  width: 100%;
  height: 300px;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: baseline;
  margin: 1px;
}

.box-style {
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.999);
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgb(70, 70, 70);
  border: 1px solid rgb(192, 192, 192);
  opacity: 0.8;
}

.immagini1 {
  width: 100%;
  height: 140px;
  margin: 0.824%;
  transition: 0.5s;
}

.immagini1:hover {
  width: 100%;
  margin: 0.824%;
  height: 300px;
}

.block {
  width: 40%;
  height: 80vh;
}

.buttondelete {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 95px;
  top: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-weight: bold;
  color: rgb(33, 172, 197);
  cursor: pointer;
}

#jsonapi {
  margin-top: 2px;
  border-radius: 10px;
  border: 2px solid rgb(33, 172, 197);
  height: 59vh;
  width: 100%;
  overflow: scroll;
}

#bottoneFirma {
  padding: 3px 6px;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  background-color: #bfdbfe;


  margin-top: 15px;
}

#cancel {
  margin: 5px 30px;
}

* {
  font-family: "Montserrat", sans-serif;
}