.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.2s linear infinite;
  /* Safari */
  animation: spin 1.2s linear infinite;
  position: absolute;
  z-index: 333;
  top: calc(50vh - 60px);
  left: calc(50% - 60px);
}

.description {
  justify-content: center;
  align-items: center;
  border: 3px dotted rgb(159, 159, 159);
  margin: 20px;
  border-radius: 20px;
}

#card-details {
  border: 3px dotted rgb(159, 159, 159);
  margin: 20px;
  border-radius: 20px;
  position: relative;
}

.styleContenitoreImmagini {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.grass {
  background-color: #85ca1d;
}

.water {
  background-color: #4592c4;
}

.fire {
  background-color: #fd7d24;
}

.normal {
  background-color: #a4acaf;
}

.bug {
  background-color: #668d3a;
}

.immagini1 {
  width: 100%;
  margin: 0.824%;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#btn-search {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 18%;
  padding: 8px;
  outline-color: #bfdbfe;
  transition: 0.4s;
  border: 2px solid #bfdbfe;
  background-color: #ffffff;
  height: 43px;

}

#btn-search:hover {
  background-color: #bfdbfe;

}

.userInput {
  width: 80%;
  height: 43px;
  padding: 5px 13px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: none;
  border: 2px solid #bfdbfe;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  border-radius: 10px;
}

#img {
  height: 350px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.styleContenitoreImmagini {
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 10px;
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  height: 300px;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: baseline;
  border: 2px solid rgb(33, 172, 197);
  margin: 1px;
}

.box-style {
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.999);
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgb(70, 70, 70);
  border: 1px solid rgb(192, 192, 192);
  opacity: 0.8;
}

.immagini1 {
  width: 100%;
  height: 140px;
  margin: 0.824%;
  transition: 0.5s;
}

.immagini1:hover {
  width: 100%;
  margin: 0.824%;
  height: 300px;
}

.block {
  width: 40%;
  height: 80vh;
}

.buttondelete {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  font-weight: bold;
  color: rgb(33, 172, 197);
}

#jsonapi {
  margin-top: 2px;
  border-radius: 10px;
  border: 2px solid rgb(33, 172, 197);
  height: 59vh;
  width: 100%;
  overflow: scroll;
}

#bottoneFirma {
  padding: 3px 6px;
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
  background-color: red;
  margin-top: 15px;

}

#cancel {
  margin: 5px 30px;
}

/* 
.containerUniv {

  animation-name: example;
  animation-duration: 0.8s;
}

@keyframes example {
  0% {
    transform: rotateZ(0deg);
    width: 0%;
    height: 0%;
    border-radius: 10000px;
    background-color: red;
  }

  50% {

    background-color: rgb(255, 123, 0);
  }

  66% {

    background-color: rgb(255, 174, 0);
  }

  100% {
    transform: rotateZ(2520deg);
    width: 100%;
    border-radius: 0px;
    height: 100%
  }
} */
* {
  font-family: "Montserrat", sans-serif;
}