p {
  margin-block-start: 0;
  text-indent: 1rem;
}

.login-title {
  align-self: center;
  color: #fff;
  text-align: center;
}

.container-icon {
  align-self: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.button-submit {
  background-color: #e98b51ce;
  color: #fff;
  border: 1px solid grey;
}

.email,
.password {
  background-color: rgb(232, 240, 254);
  border: 1px solid grey;
}

.email-error {
  border: 2px solid red;
  background-color: rgb(232, 240, 254);
}

.password-error {
  border: 2px solid red;
  background-color: rgb(232, 240, 254);
}

.h2-error {
  color: red;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  width: 40px;
  margin: 1.5rem 0 1rem 0;
}

#login-forms {
  padding: 0 30px;
  width: 60%;
  height: 90vh;

  background-size: cover;
  background-position: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: 100%;
}

#login input,
#login button {
  height: 60px;
  border-radius: 50px;
  outline: none;
  padding: 10px 20px;
  margin: 5px 0;
  width: 100%;
}

#main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-nav div a {
  text-decoration: none;
  list-style: none;
}

#root {
  height: 100vh;
}

#main-page {
  flex-grow: 1;
}

.sidebar {
  display: flex;

  padding: 1rem;

  border-right: 1px solid lightgray;
}

.sidebar > a {
  margin: 0.5rem 0;
}

#container-login {
  display: flex;
  width: 90%;
  height: 90vh;
  margin: 4vh 4%;
  background-color: #d3d4d4;
  border-radius: 40px;
  border: 5px solid rgb(183, 183, 183);
}

#design-pattern {
  width: 40%;
  height: 100%;
  border-radius: 40px;
  opacity: 0.9;
  background-image: url("../../../img/woman.jpg");
  background-size: cover;
}

.align-center {
  align-items: center;
}

.socials-container {
  display: flex;
  justify-content: space-between;
}

.socials-card {
  display: flex;
  align-items: center;

  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;

  text-decoration: none;
  color: unset;
}

.socials-card:hover {
  background-color: lightgray;
}

.socials-card > i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

body {
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  #container-login {
    display: block;
    width: 90%;
    height: 90vh;
    margin: 4vh 4%;
    background-color: #d3d4d4;
    border-radius: 40px;
    border: 5px solid rgb(183, 183, 183);
  }

  #design-pattern {
    width: 100%;
    height: 40%;
    border-radius: 40px;
    opacity: 0.9;
    background-image: url("../../../img/woman.jpg");
    background-size: cover;
  }

  #login-forms {
    padding: 0 30px;
    width: 100%;
    height: 60%;

    background-size: cover;
    background-position: 400px;
  }
}
