.error-border,
.error-border:hover {
  border: 2px solid red;
}

.color-error {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#sforndoform {


  background-image: url('../../../img/bgggimg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat
}

#root,
#main-page,
#sforndoform {
  width: 100%;
  height: 100vh;
}

.mt-64 {
  margin-top: 0rem;
}